<h1>Editing Result Set</h1>

<%= render 'form' %>
<!---->
<!--<%= link_to 'Show', product_plan_run_result_set_path(@product, @plan, @run, @result_set) %>-->
<!--<%= link_to 'Back', product_plan_run_result_set_path %>-->
