// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status-failed{
  background-color: #ff8271;
}
.status-passed{
  background-color: #5fff62;
}
.status-pending{
  background-color: #43ffe9;
}


