// Place all the styles related to the ResultSets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sets_table{
  background-color: #cccccc;
}
.sets_table{
  background-color: #cccccc;
}
.sets_hading{
  border-bottom: 1px solid #bbbbbb;
}